// Variables

$blue: #1b546f;
$light-blue: #2e8ebc;
$grey: #dbdbdb;
$bg-color: #faefde;
$geral-text: #666666;
$title-text: #797878;

// Fonts

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

// Geral

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $bg-color;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
}

h1 {
    font-family: 'Merienda', cursive;
}

h3 {
    color: $blue;
}

p {
    color: $geral-text;
}

img {
    max-width: 100%;
}

.container {
    max-width: 820px;
    margin: 0 auto;
}

.subtitulo {
    text-transform: uppercase;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
}

.btn-primary {
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    background: $blue;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    transition: all .4s ease;
    &:hover, &:active  {
        background: darken($blue, 10%);
    }
}


// Header

.header {
    width: 100%;
    background-color: $blue;
    position: fixed;
    top:0;
    z-index: 999;
}

// Menu

.nav-menu {
    display: flex;
    list-style: none;
    padding: 20px 0;
    a {
        text-decoration: none;
        color: $light-blue;
        padding-left: 25px;
        text-transform: uppercase;
        transition: opacity .4s ease;
        position: relative;
        &:hover {
            opacity: .4;
        }
    }
}

.nav-link:first-child a {
    padding-left: 0px;
}

// Hero

.hero {
    height: 600px;
    background: url(../img/bg.jpg) no-repeat center center;
    background-size: cover;
}

.hero-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 160px;
    position: relative;
    h1 {
        color: $title-text;
        font-size: 58px; 
        margin-bottom: 60px; 
    }
    h2 {
        color: $title-text;
        font-weight: normal;
        font-size: 34px;
    }
    img {
        width: 38%;
        position: absolute;
        top: 8px;
        right: 480px;
    }
}

// Main 

.main {
    background-color: #fff;
    padding: 50px 100px 100px 100px;
    margin-bottom: 50px;
    margin-top: -70px;
}

.concurso {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid $grey;
    .concurso-texto {
        h3.subtitulo {
            padding-top: 0;
            padding-bottom: 40px;
        }
        p {
            color: $geral-text;
            margin-bottom: 100px;
            max-width: 300px;
        }
    }
    .concurso-inscricao {
        flex: 0 1 250px;
        height: 280px;
        margin-top: -80px;
        background: $blue;
        padding: 30px;
        .btn-primary {
            margin-top: 90px;
        }
        h3 {
            color: $light-blue;
        }
    }
    h3 {
        text-transform: uppercase;
        padding-bottom: 10px;
    }
    p {
        color: #fffefe;
    }
    .concurso-exposicao {
        margin-bottom: 30px;
    }
}

.sobre {
    h4 {
        margin: 20px 20px 20px 0;
        font-weight: 400;
        color: $geral-text;
    }
}

.regras {
    ul {
        color: $geral-text;
        padding: 17px;
        li {
            padding-bottom: 15px;
        }
    }
}

// Footer

.footer {
    background: #fff;
    text-align: center;
    padding: 30px 0;
    border-top: 8px solid $blue;
}

// Modal

.modal-container {
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal {
    min-width: 300px;
    background: #fff;
    position: relative;
    padding: 16px;
    color: $geral-text;
    h3, label {
        color: #222;
        font-weight: 600;
    }
    label {
        padding-bottom: 4px;
    }
    .modal-header {
        padding-bottom: 15px;
        border-bottom: 1px solid $grey;
    }
    .btn-primary {
        padding: 10px 10px;
    }
    .modal-btn {
        display: flex;
        justify-content: flex-end;
    }
}

.modal form {
    margin-top: 15px;
}

.form-block-1,.form-block-2,.form-block-3,.form-block-4 {
    padding: 8px 0;
}

.form-block-1:nth-child(1) div,
.form-block-2:nth-child(2) div {
    padding-right: 32px;
}

.form-block-1, .form-block-2  {
    display: flex;
    input, label {
    display:block;
    }
    input {
        width: 232px;
        height: 30px;
    }
}

.form-block-3 {
    display: flex;
    flex-direction: column;
}
.form-block-4   {
    border-bottom: 1px solid $grey;
    margin-bottom: 15px;
    input {
        margin: 8px 8px 8px 0;
    }
}

.fechar {
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    background: transparent;
    color: $grey;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.ativo .modal {
    animation: modal .3s forwards;
}

.modal-container.ativo {
    display: flex;
}

.termos {
    width:500px; 
    height:200px; 
    overflow:scroll; 
    border: 1px solid $grey; 
    background:#fff; 
    margin:5px 0; 
    padding:10px 20px;
    overflow-x: hidden;
}

// Responsivo 

@media (max-width: 992px) { 
    .hero-inner { 
        h1 {
            font-size: 40px;
            margin-bottom: 30px;
        }
        h2 {
            font-size:24px;
        }
    }
    .main {
        padding: 40px 20px 40px;
    }
    .concurso {
        display: block;
        .concurso-texto {
            p {
                max-width: 100%;
            }
        }
        .concurso-inscricao {
            padding-bottom: 0;
            position: relative;
            .btn-primary {
                position: absolute;
                left: 0;
                bottom: -50px;
            }
        }
    }
    .hero {
        height: 450px;
    }

}

@media (max-width: 1300px) {
    .hero-inner { 
        img {
            display: none;
        }
    }
    .concurso {
        border-bottom: none;
    }
    .container {
        max-width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 768px) { 
    .hero-inner { 
        h1 {
            font-size: 32px;
        }
        h2 {
            font-size:18px;
        }
    }
    .subtitulo {
        padding-top: 60px;
    }
    .modal {
        max-width: 300px;
    }
    .form-block-1, .form-block-2 {
        display: block;
    }
    .termos {
        width: 270px;
        height: 120px;
    }
    .form-block-1:nth-child(1) div,
    .form-block-2:nth-child(2) div {
        padding-bottom: 10px;
    }
    .form-block-1, .form-block-2  {
        input {
            width: 270px;
            height: 30px;
        }
    }
    .form-block-1, .form-block-2, .form-block-3, .form-block-4 {
        padding: 0;
    }
    .form-block-3, .form-block-4 {
        padding-bottom: 8px;
    }
}

@media (max-width: 576px) { 
    .sobre {
        margin-top: 40px;
    }
    .nav-menu {
        justify-content: center;
        min-width: 280px;
        flex-wrap: wrap;
        margin: 0 auto;
        text-align: center;
    }
    .nav-link {
        padding: 6px;
        a {
            font-size:  12px;
            padding: 6px 15px;
            border: 1px solid $grey;
            margin: 15px;
        }
    }
    .hero-inner {
        padding-top: 200px;
    }
    .hero {
        background: url(../img/bg.jpg) no-repeat top right;
    }
    .nav-link:first-child a {
        padding-left: 20px;
    }
}



